* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
}

:root {
	font-size: 62.5%;

	--ff-family: 'Roboto', sans-serif;

	--ff-404-title-size: 12.5rem;
	--ff-404-subtitle-size: 3.5rem;
	--ff-paragraph-size: 1.8rem;
	--ff-button-size: 1.4rem;

	--cc-accent: #46b3db;
	--cc-paragraph: #e1e1e6;
	--cc-button: #fff;
}

body {
	font-family: var(--ff-family);
	color: var(--cc-paragraph);

	background: url(./images/mountains-universe04.jpg),
		lightgray 50% / cover no-repeat;

	background-size: 100% 100%;

	height: 100vh;
	width: 100vw;
}

header {
	display: none;
}

main {
	display: flex;
	align-items: center;
	justify-content: center;
   gap: 6.3rem;

	height: 88%;
}

main > img {
	width: 40rem;
	height: 34rem;
}

main > .container > h1 {
   font-size: var(--ff-404-title-size);
   color: var(--cc-accent);
   line-height: 6rem;
   font-weight: bold;
}

main > .container > h2 {
   font-size: var(--ff-404-subtitle-size);
   line-height: 6rem;
   font-weight: bold;
   margin-top: 1.7rem;
}

main > .container > h4 {
   font-size: var(--ff-paragraph-size);
   text-transform: uppercase;
   color: var(--cc-accent);
   line-height: 4rem;

   margin-top: 1.5rem
}

main > .container > p {
   font-size: var(--ff-paragraph-size);
   font-weight: 400;
   max-width: 38rem;
}

main > .container > button {
   font-family: var(--ff-family);
   font-size: var(--ff-button-size);
   font-weight: bold;
   text-transform: uppercase;
   color: var(--cc-button);

   margin-top: 2.8rem;
   padding: 1.8rem 3.2rem;
   width: 100%;

   background: transparent;
   border: 2px solid var(--cc-button);
   border-radius: 1rem;

   transition: all .5s ease;
   cursor: pointer;
}

main > .container > button:hover {
   background: var(--cc-accent);
   border: 2px solid var(--cc-accent)
}

main > .container > button:active {
	transform: scale(0.93);
}


