* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

:root {
	font-size: 62.5%;

	--cc-text: #e1e1e6;
	--cc-button: #ffffff;

	--font-family: 'Roboto', sans-serif;
	--ff-title-size: 4.8rem;
	--ff-button-size: 1.4rem;
}

body {
	background: url(./images/mountains-universe01.png),
		lightgray 50% / cover no-repeat;

	background-size: 100% 100%;

	width: 100vw;
	height: 100vh;
}

h1,
button {
	font-family: var(--font-family);
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2.4rem;

	margin-top: 10rem;
}

main > h1 {
	font-size: var(--ff-title-size);
	color: var(--cc-text);
}

main > button {
	padding: 1.2rem 3.2rem;
	background: none;

	border: 2px solid var(--cc-button);
	border-radius: 0.5rem;

	font-size: var(--ff-button-size);
	color: var(--cc-button);
	text-transform: uppercase;
	font-weight: 700;

	transition: all 500ms;
}

main > button:hover {
	background: var(--cc-button);
	color: #0f3643;
	cursor: pointer;
}

main > button:active {
	transform: scale(0.93);
}
